@import "config";
@import "menu";
@import "work";

*,
*::after,
*::before {
  font-size: 62.5%;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: $tertiary-50;
  color: $accent-3-900;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Gotham medium";
  line-height: 1.7;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;

  &.lg-heading {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: $accent-3-800;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    background: $secondary-200-ch;
    border-radius: 10px;
    font-size: 3rem;
    padding-left: 2rem;
    height: 5%;
    width: 45%;
    display: inline-block;
    box-shadow: 0 9px 25px rgba(101, 214, 173, 0.479),
      0 2px 6px rgba(101, 214, 173, 0.424);

    p {
      text-align: left;
      margin: 1rem;
      font-size: 3rem;
      font-family: "Product Sans Bold";
      letter-spacing: 0.2rem;
    }
  }
}

a {
  color: $accent-3-700;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $accent-3-800;
}

main {
  overflow: hidden;
  padding: 4rem;
  min-height: calc(100vh - 60px);

  .icons {
    position: relative;
    margin-top: 3.5rem;
    padding-left: 3.5rem;
    backface-visibility: hidden;

    .button {
      position: absolute;
      font-family: "Acrom Medium";
      margin-top: 4.5rem;
      padding: 0.7rem;
      text-transform: uppercase;
      border-radius: 100px;
      font-size: 1rem;
      color: $primary-900;
      font-weight: 600;
      background: transparent;
      transform: scale(0) transformY(-30px);
      visibility: hidden;

      &:hover {
        color: $primary-900;
        border-color: $primary-900 !important;
      }
    }

    i {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 5.5rem !important;
      padding: 0.8rem 2.1rem 5rem;
      //   @include easeOut;

      &:hover {
        color: $primary-500;
      }

      &:hover .button {
        backface-visibility: hidden;
        opacity: 1;
        visibility: visible;
        border: 2px solid$primary-500;
        transform: scale(1.1);
        transition: transform ease-in 0.4s;
      }
    }
  }

  .svg-bg {
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    z-index: 1;
    height: 47rem;
    top: 16rem;
    opacity: 0.8;
    left: 68.5rem;
    // border: 1px solid $secondary-900;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 0 10px 20px hsla(205, 44%, 62%, 0.616),
      0 3px 6px hsl(205, 100%, 88%);
    // box-shadow: 0 10px 20px rgba(101, 214, 173, 0.479),
    //   0 3px 6px rgba(101, 214, 173, 0.424);
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 13vh;
    }
  }
}

.buttons {
  padding-top: 5rem;
  padding-left: 8rem;
}

.btn1,
.btn2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Interstate Bold";
}

.btn1 {
  border: 2px solid $accent-1-500;
  border-radius: 100px;
  padding: 1.2rem 2rem;
  margin-right: 10rem;
  box-shadow: 0 10px 15px rgba(214, 69, 69, 0.239),
    0 3px 6px rgba(214, 69, 69, 0.383);
}

.btn2 {
  border: 2px solid $accent-2-500;
  border-radius: 100px;
  padding: 1.2rem 2rem;
  box-shadow: 0 10px 15px rgba(214, 185, 69, 0.349),
    0 3px 6px rgba(214, 185, 69, 0.383);
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: 0 auto;
    margin-top: 5.5rem;
    margin-bottom: 22rem;
    border-radius: 50%;
    border: $secondary-500 2px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 3.5rem;
  }

  .job-1 {
    grid-area: job1;

    h3 {
      margin: 0rem 12.5rem;
    }
  }

  .job-2 {
    grid-area: job2;

    h3 {
      margin: 0rem 12rem;
    }
  }

  .job-3 {
    grid-area: job3;

    h3 {
      margin: 0rem 13.5rem;
    }
  }

  .job {
    background: $tertiary-100;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    font-family: "Brother Book";
    font-size: 2.2rem;
    border-top: $primary-700 5px solid;
    box-shadow: 0 10px 15px rgba(38, 129, 194, 0.287),
      0 3px 6px rgba(5, 30, 51, 0.52);

    h6 {
      margin: 2rem 0rem;
      font-size: 2rem;
      font-weight: 900;
      color: #02233a;
    }

    h3 {
      background: #c2d0df;
      color: $tertiary-900;
      padding: 0.3rem 0 0.3rem 0;
      font-family: "Acrom BOLD";
      border-radius: 100px;
    }

    p {
      color: $tertiary-900;
      line-height: 1.9;
    }
  }
}

// Work/Projects
// .projects {
//     display: grid;
//     grid-gap: 0.7rem;
//     grid-template-columns: repeat(3, 1fr);

//     img {
//         width: 100%;
//         // border: 3px #fff solid;

//         &:hover {
//             opacity: 0.5;
//             //   border-color: $secondary-color;
//             @include easeOut;
//         }
//     }
// }

// Contact Page
.split {
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 0;
  padding-top: 2rem;
}
.left__props {
  left: 0;
  background-color: $accent-2-400;
  h1 {
    margin-left: 3rem;
    font-size: 3rem;
  }
  h2 {
    width: 90%;
    font-family: "Interstate Bold";
    font-size: 8rem;
    padding: 8rem;
    line-height: 1.1;
  }
}
.right__props {
  right: 0;
  background: url(/dist/img/Img12.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 8rem;

  div {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}

// Button Styles
// .btn {
//   display: block;
//   padding: 0.5rem 1rem;
//   border: 0;
//   margin-bottom: 0.3rem;

//   &:hover {
//     background: $accent-2-500;
//     color: $accent-2-900;
//   }
// }

// .btn-dark {
//   @extend .btn;
//   background: $accent-2-300;
//   color: #fff;
// }

// .btn-light {
//   @extend .btn;
//   background: $accent-1-100;
//   color: #333;
// }
@import "mobile";
