@import "mediaQuery";
@import "config";
@import "menu";
@import "work";

*,
*::after,
*::before {
  font-size: 62.5%;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  box-sizing: border-box;
  background-color: $tertiary-50;
  color: $accent-3-900;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

// a {
//   color: #186faf;
//   //   color: $accent-3-800;
//   text-decoration: none;
//   font-weight: 800;
//   &:hover {
//     color: $accent-3-900-ch;
//   }
// }

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 2.5rem;
  //   min-height: calc(100vh - 60px);
  @include respond(phone) {
    padding: 0rem;
  }
  .name_heading {
    margin-top: 13vh !important;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  @include respond(tab-port) {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  .bio-image {
    grid-area: bioimage;
    margin: 0 auto;
    margin-top: 5.5rem;
    margin-bottom: 22rem;
    border-radius: 50%;
    border: $secondary-500 2px solid;
    @include respond(phone) {
      margin: 2rem auto 2rem auto;
    }
  }

  .bio {
    font-family: "Acrom Medium";
    text-transform: capitalize;
    grid-area: bio;
    font-size: 3.5rem;
    padding: 1.5rem;
    @include respond(phone) {
      font-size: 2.5rem;
    }
    p {
      text-align: left;
      line-height: 1.7;
    }
  }

  .job-1 {
    grid-area: job1;
    h3 {
      margin: 0rem 12.5rem;
    }
  }

  .job-2 {
    grid-area: job2;

    h3 {
      margin: 0rem 12rem;
    }
  }

  .job-3 {
    grid-area: job3;

    h3 {
      margin: 0rem 13.5rem;
    }
  }

  .job {
    background: $tertiary-100;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;
    font-family: "Brother Book";
    font-size: 2.2rem;
    border-top: $primary-700 5px solid;
    box-shadow: 0 10px 15px rgba(38, 129, 194, 0.287),
      0 3px 6px rgba(5, 30, 51, 0.52);

    h6 {
      margin: 2rem 0rem;
      font-size: 2rem;
      font-weight: 900;
      color: #02233a;
    }

    h3 {
      background: #c2d0df;
      color: $tertiary-900;
      padding: 0.3rem 0 0.3rem 0;
      font-family: "Acrom BOLD";
      border-radius: 100px;
      @include respond(phone) {
        margin: 0rem 11rem;
      }
    }

    p {
      color: $tertiary-900;
      line-height: 1.9;
    }
  }
}

// Contact Page
.split {
  height: 100vh;
  width: 50%;
  position: fixed;
  top: 0;
  img {
    height: 100vh;
    width: 100%;
  }
  @include respond(phone) {
    width: 100%;
  }
}
.left__props {
  left: 0;
  background-color: $accent-2-400;
  h1 {
    margin-top: 3.5rem;
    margin-left: 3.5rem;
    font-size: 3rem;
  }
  h2 {
    width: 90%;
    font-family: "Interstate Bold";
    font-size: 8rem;
    margin: auto;
    padding: 5rem;
    padding-top: 1rem;
    line-height: 1.1;
    @include respond(phone) {
      font-size: 6rem;
      padding: 2.5rem;
    }
  }
}
.right__props {
  right: 0;
  @include respond(phone) {
    display: none;
    visibility: hidden;
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 4rem;
  @include respond(phone) {
    margin-top: 2rem;
  }

  div {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
//TODO BUTTONS
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 5%;
  @include respond(tab-port) {
    width: 80%;
    margin-top: 3%;
  }
  @include respond(phone) {
    width: 100%;
    padding: 3rem;
    margin-top: 1%;
  }
  &__link {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Brother medium";
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  &__item-1 {
    // border: 2px solid $accent-1-500;
    border: 2px solid $primary-600;
    background: #d5edff7a;
    border-radius: 100px;
    padding: 0.5rem 2rem;
    margin-right: 3%;
    box-shadow: 0 10px 15px rgba(24, 112, 175, 0.209),
      0 3px 6px rgba(24, 112, 175, 0.303);
    a {
      color: $primary-800;
    }
    // box-shadow: 0 10px 15px rgba(214, 69, 69, 0.239),
    //   0 3px 6px rgba(214, 69, 69, 0.383);
    @include respond(phone) {
      padding: 0.6rem 1.5rem;
    }
  }
  &__item-2 {
    border: 2px solid $accent-2-500;
    border-radius: 100px;
    padding: 0.5rem 2rem;
    background: #eed086c2;
    box-shadow: 0 10px 15px rgba(214, 185, 69, 0.349),
      0 3px 6px rgba(214, 185, 69, 0.383);
    a {
      color: $accent-3-700;
    }
    @include respond(phone) {
      padding: 0.6rem 1.5rem;
    }
  }
}

// TODO ICONS
.icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 45%;
  backface-visibility: hidden;
  @include respond(tab-port) {
    width: 80%;
  }
  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
  }
  @include respond(phone) {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 8vh;
  }

  &__item {
    padding: 6.8rem 2.1rem 1rem;
    &:hover {
      color: $primary-500;
    }

    &:hover .icon__link {
      backface-visibility: hidden;
      visibility: visible;
      border: 2px solid$primary-500;
      transform: scale(1.1);
      transition: transform ease-in 0.2s;
    }
    @include respond(phone) {
      padding: 3.8rem 2.1rem 1rem;
    }
  }

  &__link {
    position: absolute;
    font-family: "Acrom Medium";
    margin-top: 4rem;
    padding: 0.5rem;
    border-radius: 100px;
    color: $primary-900;
    font-weight: 600;
    background: transparent;
    transform: scale(0) transformY(-30px);
    font-size: 1rem;
    text-transform: uppercase;
    visibility: hidden;

    &:hover {
      color: $primary-900;
      border-color: $primary-900 !important;
    }
  }
}

// TODO LANDING SCREEN
.background {
  position: relative;
  &__svg {
    position: absolute;
    width: 50%;
    right: 0;
    top: 3rem;
    padding: 1.5rem;
    visibility: visible;
    z-index: 1;
    opacity: 0.7;
    border-radius: 2.5rem;
    box-shadow: 0 10px 20px hsla(205, 44%, 62%, 0.616),
      0 3px 6px hsl(205, 100%, 88%);

    @include respond(phone) {
      visibility: hidden;
      display: none;
    }
  }
}
.textBox {
  margin-top: 14vh;
  @include respond(phone) {
    text-align: center;
    margin-top: 20vh;
  }

  &__name {
    font-family: "Gotham";
    font-size: 6rem;
    margin-bottom: 6rem;
    color: $accent-3-800;
    &__family-sub {
      color: $accent-3-600;
    }
    @include respond(phone) {
      font-size: 3.9rem;
    }
  }
  &__bg-mainText {
    display: inline-block;
    background: $secondary-200-ch;
    border-radius: 0.5rem;
    padding-left: 2.3rem;
    height: 5%;
    width: 45%;
    box-shadow: 0 9px 25px rgba(101, 214, 173, 0.479),
      0 2px 6px rgba(101, 214, 173, 0.424);
    @include respond(phone) {
      width: 90%;
      padding: 0.7rem;
      padding-left: initial;
    }
  }
  &__mainText {
    font-family: "Product Sans Bold";
    text-align: left;
    margin: 1rem;
    font-size: 3.4rem;
    letter-spacing: 0.2rem;
    @include respond(phone) {
      width: 100%;
      padding: 0;
      font-size: 2.4rem;
      text-align: center;
      margin: initial;
    }
  }
}
