@font-face {
  font-family: " Effra Medium";
  src: url(/dist/Fonts/Effra-Medium.otf);
}

@font-face {
  font-family: "Effra Regular";
  src: url(/dist/Fonts/Effra-Regular.otf);
}

@font-face {
  font-family: "Gotham Medium";
  src: url(/dist/Fonts/GothamPro-Medium.ttf);
}

@font-face {
  font-family: "Gotham";
  src: url(/dist/Fonts/GothamPro.ttf);
}

@font-face {
  font-family: "Interstate Bold";
  src: url(/dist/Fonts/Product-Sans-Bold.ttf);
}

@font-face {
  font-family: "Interstate Light";
  src: url(/dist/Fonts/InterstatePlus-Light.otf);
}

@font-face {
  font-family: "Product Sans Bold";
  src: url(/dist/Fonts/Product-Sans-Bold.ttf);
}

@font-face {
  font-family: "Product Sans Regular";
  src: url(/dist/Fonts/Product-Sans-Regular.ttf);
}

@font-face {
  font-family: "Acrom Bold";
  src: url(/dist/Fonts/Acrom-Bold.ttf);
}

@font-face {
  font-family: "Acrom Medium";
  src: url(/dist/Fonts/Acrom-Medium.ttf);
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 5.5rem;
  top: 4.5rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-btn .btn-line {
  background: #003e6b;
  width: 28px;
  height: 3px;
  margin: 0 0 0.5rem 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding, .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-nav.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-branding.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../img/portrait.jpg");
  border-radius: 50%;
}

.menu .nav-item {
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

*,
*::after,
*::before {
  font-size: 62.5%;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d9e2ec;
  color: #27241d;
  height: 100vh;
  margin: 0;
  font-family: "Gotham medium";
  line-height: 1.7;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  color: #423d33;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  background: rgba(140, 237, 198, 0.656);
  border-radius: 10px;
  height: 5%;
  width: 62%;
  display: inline-block;
}

h1.sm-heading p,
h2.sm-heading p,
h3.sm-heading p {
  text-align: left;
  margin: 1rem;
  font-size: 3rem;
  font-family: "Product Sans Bold";
  letter-spacing: 0.2rem;
}

a {
  color: #504a40;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #423d33;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

main .icons {
  position: relative;
  margin-top: 3rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

main .icons .button {
  position: absolute;
  font-family: "Acrom Medium";
  margin-top: 4.5rem;
  padding: 0.7rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-size: 1rem;
  color: #003e6b;
  font-weight: 600;
  background: transparent;
  -webkit-transform: scale(0) transformY(-30px);
          transform: scale(0) transformY(-30px);
  visibility: hidden;
}

main .icons .button:hover {
  background: #dceefb;
  color: #003e6b;
  border-color: #003e6b !important;
}

main .icons i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5.5rem !important;
  padding: 0.8rem 2.1rem 5rem;
}

main .icons i:hover {
  color: #2680c2;
}

main .icons i:hover .button {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 1;
  visibility: visible;
  border: 2px solid #2680c2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform ease-in 0.4s;
  transition: -webkit-transform ease-in 0.4s;
  transition: transform ease-in 0.4s;
  transition: transform ease-in 0.4s, -webkit-transform ease-in 0.4s;
}

main .svg-parent {
  overflow-x: hidden;
  width: 100%;
}

main .svg-bg {
  position: absolute;
  padding: 2rem;
  z-index: -1;
  height: 47rem;
  top: 16rem;
  width: 70%;
  left: 70rem;
  border: 1px solid #65d6ad;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  -webkit-box-shadow: 0 10px 20px rgba(101, 214, 173, 0.479), 0 3px 6px rgba(101, 214, 173, 0.424);
          box-shadow: 0 10px 20px rgba(101, 214, 173, 0.479), 0 3px 6px rgba(101, 214, 173, 0.424);
}

main#home {
  overflow: hidden;
}

main#home h1 {
  margin-top: 15vh;
}

.about-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
      grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about-info .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
}

.about-info .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  font-size: 1.5rem;
}

.about-info .job-1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: job1;
}

.about-info .job-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: job2;
}

.about-info .job-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: job3;
}

.about-info .job {
  padding: 0.5rem;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.7rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.projects img {
  width: 100%;
}

.projects img:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.boxes div {
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.boxes div:hover {
  padding: 0.5rem 1.5rem;
}

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  height: 60px;
}

@media screen and (min-width: 1171px) {
  .projects {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    background: url("../img/portrait_small.jpg");
    width: 150px;
    height: 150px;
  }
  .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .projects {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */